h1#headertekst {
	text-align: left;
	color: black;
	font-size: 2.5rem;
}
h2 {
	font-size 1.8rem;
}

.settings-section {
	text-align: left;
}

.settings-section > h2 {
	font-size: 1.8rem;
	color: black;
	display: inline-block;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 0em;
}

.settings-subsection {
	border: 1px solid #424242;
	padding: 10px;
	border-radius: 20px;
	background-color: #D0F7C6;
	margin-top: 10px;
	font-size: 1.3rem;
}

.settings-subsection div.ui-field-contain.ui-body {
	margin: 0;
	padding:0;
}

.settings-subsection div.ui-controlgroup-controls {
	width: 100%; /*otherwise the two buttons go on different lines -- dont ask*/
}

.settings-subsection fieldset {
	/*width: 30%;*/
	display: inline;
	vertical-align: 10%;
}


header {
 text-align: justify; 
 max-height:3rem;
}
 header:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

.settings-subsection div.ui-slider {
	
	width: 100% !important /*verdomme!*/;
}

.settings-subsection div.ui-slider-track {
	margin-right: 0;
}