h1#headertekst {
	text-align: left;
	color: black;
}

.settings-section {
	text-align: left;
}

.settings-section > h2 {
	font-size: 2.2rem;
	color: black;
	display: inline-block;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 0em;
}

.settings-subsection {
	border: 1px solid #424242;
	padding: 10px;
	border-radius: 20px;
	background-color: #D0F7C6;
	margin-top: 10px;
	font-size: 1.8rem;
}
